@import "../variables.scss";

$icon-color: $color-darknavy;
$icon-color-hover: $color-darknavy-light;
$duration: 0.2s;

.nav--container {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 100%;
  height: $nav-height;

  i {
    border-radius: 5px;
    color: $icon-color;
    @include flex--center;
    transition: $duration;
  }
}

.nav--home,
.nav--admin,
.nav--todo-list,
.nav--calendar,
.nav--calendar,
.nav--profile,
.nav--notifications {
  @include flex--center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: $duration;
  &:hover {
    background-color: rgba($icon-color, 0.9);
    i {
      color: $body-color;
    }
  }
}

.nav--home {
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.nav--side--menu {
  position: absolute;
  right: 0;
  margin-right: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--admin,
.nav--todo-list,
.nav--calendar,
.nav--profile,
.nav--notifications {
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}

.nav--profile {
  border-radius: 100px;
  img {
    border-radius: 100px;
    width: 24px;
  }
}

.nav--notifications {
  border: none;
  box-shadow: none;
  &.show {
    background-color: rgba($icon-color, 0.9);
    i {
      color: $body-color;
    }
  }
}
