@import "../variables.scss";

.nav--container {
  position: absolute;
  top: 0;
  z-index: 1;
  /* background-color: red; */
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // border-bottom: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 100vw;
  height: $nav-height;
}

.nav--home {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  color: $icon-color;
  border-radius: 100%;
  box-sizing: border-box;
}

.nav--side--menu {
  position: absolute;
  // background-color: saddlebrown;
  right: 0;
  margin-right: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--todo-list,
.nav--calendar,
.nav--profile {
  color: $icon-color;
  margin: 10px;
}

.nav--profile img {
  /* overflow: hidden; */
  border-radius: 100px;
  width: 25px;
}
