@import "../variables.scss";

$color-led-on: #39e9a0;
$color-led-on-middle: #289c44;
$color-led-on-border: #24833a;
$color-led-off: #ff4f4f;
$color-led-off-middle: #9e161f;
$color-led-off-border: #700f15;

.status--container {
  position: relative;
  background-color: #fff;
  width: 80vw;
  margin-bottom: 3px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $userlist-shadow;
}

.status--info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  padding: 5px;
}

.status--profile,
#status--name,
#status--position,
#status--email,
#stauts--working {
  margin: 5px;
}

.status--profile {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  box-shadow: 0 0 4px #dfb39d, 0 0 10px #ff4242;
}

#status--name {
  font-size: 26px;
  margin-right: 0;
}

#status--position {
  display: flex;
  align-items: flex-end;
  height: 100%;
  font-size: 12px;
  padding-bottom: 5px;
  // background: burlywood;
}

.status--led {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: $color-led-off;
  box-shadow: 0 0 4px #dfc2b4, 0 0 3px #ff4242;
  right: 0;
}

.status-working {
  background-color: $color-led-on;
  box-shadow: 0 0 4px #a5dba9, 0 0 5px #50c721;
}
