@import "../variables.scss";
$summary-ratio: 90%;
$shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

.summary--container {
  @include container;
  box-shadow: $shadow;
  background-color: $color-background-white;
  border-radius: 10px;
  border: 2px solid $color-darknavy;
}

.summary--box {
  width: $summary-ratio;
  // height: 200px;
  margin: 30px 0;
  padding: 10px;
  border-radius: 5px;
  // background-color: yellowgreen;
  @include flex--center;
  flex-direction: column;
}

.text--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // background-color: whitesmoke;
}

.summary--title {
  width: $summary-ratio;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  margin-top: 20px;
  padding-left: 10px;
}

.summary--subtitle {
  // display: block;
  // width: 100%;
  font-size: 24px;
  font-weight: 500;
  // text-align: left;
  margin-bottom: 10px;
}

.summary--text {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.summary--progress-bar-container {
  box-shadow: $shadow;
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;

  .progress-bar {
    transition: width 1s;
    height: 100%;
    border-radius: 5px;
    background-color: tomato;
  }
}
