@import "./variables.scss";

$fold-btn-width: 50px;
$fold-btn-height: 50px;
$color-hover: #e3a374;
$color-darkbrown: #2c150a;
$color-lightgreen: rgb(96, 207, 23);
$btn-color--bg-working: $color-darkred;

.work-indicator--box {
  border: none;
  &.offline {
    background-color: $color-darkred;
    box-shadow: rgba($color-darkred, 0.24) 0px 3px 8px;
  }
  &.working {
  }
}
