$body-color: #fffcf9;
$nav-height: 40px;
$button-color: #fff;
$button-color-hover: #f2f9fa;
$button-color-border: #141713;
$form-color-border: #495344;
$login-btn-color: #b16b23;
$inner-width: 1000px;
$nav-color: #7b2c4c;
$color-darknavy: #1d2a46;
$color-darkred: #9c1919;
